@page "/rule/{Index:int}"
@using CsvProc9000.Model.Configuration
@using CsvProc9000.UI.States

@inject IConfigurationState State
@inject NavigationManager NavigationManager

<h1>Edit Rule: @_rule?.GetName()</h1>

@if (_rule == null)
{
    <p>There was an error loading the Rule...</p>
    return;
}

<div>
    <div class="row">
        Name:
        <InputText type="text" @bind-Value="@_rule.Name"></InputText>
    </div>

    <div class="mt-2">
        <h3>Conditions</h3>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">If the Field ...</th>
                <th scope="col">... has the Value ...</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            @foreach (var condition in _rule.Conditions)
            {
                <tr>
                    <td>
                        <InputText @bind-Value="@condition.Field"></InputText>
                    </td>
                    <td>
                        <InputText @bind-Value="@condition.Value"></InputText>
                    </td>
                    <td>
                        <button class="btn btn-danger oi oi-minus" @onclick="() => RemoveCondition(condition)"></button>
                    </td>
                </tr>
            }

            </tbody>
        </table>

        <div class="mt-2">
            <button class="btn btn-success float-end oi oi-plus" @onclick="AddCondition"></button>
        </div>
    </div>

    <div class="mt-5">
        <button class="btn btn-primary float-start" @onclick="Ok">OK</button>
    </div>
</div>

@code {

    [Parameter]
    public int Index { get; set; }

    private Rule _rule;

    protected override void OnInitialized()
    {
        _rule = State.GetRuleAt(Index);
        _rule.Conditions ??= new List<Condition>();
        _rule.Changes ??= new List<Change>();
    }

    private void RemoveCondition(Condition condition)
    {
        _rule.Conditions.Remove(condition);
    }

    private void AddCondition()
    {
        _rule.Conditions.Add(new Condition());
    }

    private void Ok()
    {
        NavigationManager.NavigateTo("/config");
    }
}